body{
    background-color: #FFF;
}

div {
    /* background-color: rgb(201, 255, 243); */
    /* border: 1px solid #f0f; */
}


.btn-success{
    background-color: pink;
}
.boton{
    background-color: purple;
}